<!DOCTYPE html>
<html>
    <head>
        <title>Panel</title>

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="content">
            <div class="row">
                <div class="col s12">
                    <div id="canvas-holder" style="width:40%">
                        <canvas id="chart-area"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

        <script>
            window.chartColors = {
                red: 'rgb(255, 67, 28)',
                orange: 'rgb(255, 159, 64)',
                yellow: 'rgb(255, 205, 86)',
                green: 'rgb(24, 173, 66)',
                blue: 'rgb(54, 162, 235)',
                purple: 'rgb(153, 102, 255)',
                grey: 'rgb(231,233,237)',
                black: 'rgb(100,100,100)'
            };

            var randomScalingFactor = function() {
                return Math.round(Math.random() * 100);
            };


            var config = {
			type: 'doughnut',
			    data: {
				    datasets: [{
					    data: [
                            {{ storage_available }},
                            {{ storage_administradores }},
                            {{ storage_alumnos }},
                            {{ storage_profesores }},
                            {{ storage_proyectos }},
					    ],
					    backgroundColor: [
                            window.chartColors.red,
                            window.chartColors.blue,
                            window.chartColors.green,
                            window.chartColors.yellow,
                            window.chartColors.black,
                        ],
					    label: 'Dataset 1'
				    }],
                    labels: [
                        'Disponible',
                        'Administradores',
                        'Alumnos',
                        'Profesores',
                        'Proyectos',
                    ]
			    },
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Almacenamiento'
                    },
                    animation: {
                        animateScale: true,
                        animateRotate: true
                    }
                }
            };

            window.onload = function() {
                var ctx = document.getElementById('chart-area').getContext('2d');
                window.myDoughnut = new Chart(ctx, config);
            };

            var colorNames = Object.keys(window.chartColors);
        </script>
    </body>
</html>